.header {
  display: flex;
  justify-content: space-between;
  background-color: #212529;
}

.headerLeft {
  display: flex;
}

.logo {
  width: 5rem;
  cursor: pointer;
}

.navLinks {
  display: flex;
}

.linkBtn {
  border: 0;
  padding: 0 2rem;
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
  color: white;
}

.linkBtn * {
  color: inherit;
  text-decoration: none;
}

.linkBtn:hover {
  background-color: lightblue;
  color: black;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 2rem;
}

.headerRightIcons {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.headerRightIcons img {
  cursor: pointer;
}

.profileIcon a {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .headerRight {
    display: none;
  }
  .navLinks {
    display: none;
  }
}
