.headerRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.headerRightIcons {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.headerRightIcons img {
  cursor: pointer;
}

.profileIcon a {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .headerRight {
    display: none;
  }
  .navLinks {
    display: none;
  }
}
