.rootSearchMuseum {
  box-sizing: border-box;
}

.pageSearchMuseum {
  margin: 1rem;
}

h1 {
  text-align: left;
  margin-left: 1%;
}

.mainSearchMuseum {
  margin: 0.5rem;
  display: flex;
}

.mainLeft {
  width: 30%;
}
.mainRight {
  width: 70%;
  padding-left: 4rem;
}

.geo {
  display: flex;
  flex-direction: column;
}

.search,
.filters {
  display: flex;
  flex-direction: row;
}

.filters p {
  padding: 3%;
  cursor: grab;
}

.geoInput {
  position: relative;
  width: 90%;
}

.geoInput_input {
  background-color: lightgrey;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  width: 100%;
}

.geoInput .mapPin {
  position: absolute;
}

.mapPin,
.mapFilter {
  top: 1rem;
  right: -0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  cursor: grab;
}

.geoFilter {
  width: 10%;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1.5%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.museums {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.map {
  width: 100%;
  height: 60vh;
  border-radius: 8px;
  background-color: lightgrey;
}

.selectedFilter {
  color: blue;
}

@media only screen and (max-width: 1000px) {
  .mainSearchMuseum {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .mainLeft {
    width: 100%;
  }
  .mainRight {
    width: 100%;
    padding: 0;
  }
}
