.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #dbd8e3;
}

form {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding-top: 1rem;
    padding-bottom: 0.5rem !important;
    margin-top: 0.8rem;
    position: sticky;
}

#login-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

#one {
    margin: -1rem;
    padding-bottom: 1rem;
}